@model IEnumerable<Coffe.Models.Items>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
@Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
@Styles.Render("https://fonts.googleapis.com/css?family=Montserrat|Ubuntu")
@Styles.Render("~/Content/css/stylesss.css")
@Scripts.Render("https://code.jquery.com/jquery-3.2.1.slim.min.js")
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
@Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
@Scripts.Render("https://use.fontawesome.com/releases/v5.0.7/js/all.js")
@*@RenderSection("scripts", required: false)*@
<head>
    <meta charset="utf-8">
    <title>Break</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

    <!-- CSS Stylesheets -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">*@

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Bootstrap Scripts -->
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
    
    <style>
        #menu {
            box-shadow: 0px 3px 9px #1e3932;
            transition: 0.3s;
            width: 70%;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }

        .menu-column {
            padding: 3% 2%;
            margin-left: 0px;
            margin-right: 0px;
        }
        .color-section {
            background-color: #fff;
        }
        
        .section-heading {
            font-size: 3rem;
            line-height: 1.5;
        }
        #title {
            background-color: #1e3932;
        }
        .icon {
            color: #e0f1d0;
        }

        #press {
            background-color: #e0f1d0;
        }
        .btn-outline-dark {
            color: #e0f1d0;
            background-color: #1e3932;
            background-image: none;
            border-color: #e0f1d0;
        }
     
        </style>
</head>


<body>

    <section class="colored-section" id="title">

        <div class="container-fluid">

            <!-- Nav Bar -->

            <nav class="navbar navbar-expand-lg navbar-dark">

                <a class="navbar-brand" href="">Break</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#menu">Menu</a>
                        </li>
                        @if (Session["name"] == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Login", "Home")">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Register", "Home")">Join us</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="">Welcome @Session["name"]! </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=" @Url.Action("Logout", "Home") ">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Cart", "Orders" , new { id = Session["id"] }) "><i class="fas fa-shopping-cart"></i></a>
                            </li>

                        }
                    </ul>

                </div>
            </nav>


            <!-- Title -->

            <div class="row">

                <div class="col-lg-6">
                    <h1 class="big-heading ">Find the perfect coffee for you.</h1>
                    <button type="button" class=" btn btn-outline-dark" href="#menu"><i class="fas fa-shopping-bag" ></i> Order now</button>
                </div>

                <div class="col-lg-6">
                    <img class="title-image" src="../../images/coffee.png" alt="coffee-pic">
                    <img class="title-image2" src="../../images/coffee2.png" alt="coffee-pic">

                </div>

            </div>

        </div>

    </section>


    <!-- Features -->

    <section class="white-section" id="features">

        <div class="container-fluid">

            <div class="row">
                <div class="feature-box col-lg-4">
                    <i class="icon fas fas fa-users fa-4x"></i>
                    <h3 class="feature-title">Coffee with friends.</h3>
                    <p>BREAK coffee is the perfect choice when visiting friends.</p>
                </div>

                <div class="feature-box col-lg-4">
                    <i class="icon fas fa-coffee fa-4x"></i>
                    <h3 class="feature-title">Perfect taste.</h3>
                    <p>We have all kinds of coffee, The perfect coffee..</p>
                </div>

                <div class="feature-box col-lg-4">
                    <i class="icon fas fa-shekel-sign fa-4x"></i>
                    <h3 class="feature-title">Saving Money.</h3>
                    <p>Perfect coffee, Perfect price.</p>
                </div>
            </div>


        </div>
    </section>


<section class="  sb-contentColumn sb-global-gutters mx-auto sb-contentColumn--xlarge px0 my5" id="menu">
    <h2 class="section-heading" style="color: #1e3932 ">FEELING ALL KINDS OF DELICIOUS</h2>
    
    <div class="sb-contentColumn__inner">
        <div class="md-hidden">
            <div class="flex-column size12of12">
                @*<div class="menu-column col-lg-4 col-md-6">*@
                    @foreach (var item in Model)
                    {
                        <div class="menu-column col-lg-5 sb-contentColumn sb-global-gutters mx-auto sb-contentColumn--xlarge px0 my5">
                            <div class="flex justify-center items-center size6of6 pb2" style="background-color: #1e3932 ">
                                <img class=" w3-circle" src="@item.images" alt="Avatar" style="width: 100%">
                            </div>
                            <div class="container sm rich-text_text__lK_0p rich-text_width__8CfwU rich-text_greenLinks__kA_FI">
                                <p>@item.ItemDescription</p>
                                @if (item.isonSale == true) { 
                                    <h4><b style="text-decoration: line-through;">@item.price  </b></h4>
                                    <h4><b>@item.newPrice</b></h4>
                                }
                                else { 
                                <h4><b>@item.price</b></h4>
                                }
                                @if (Session["name"] != null)
                                {
                                    <a href="@Url.Action("CreateOrder", "Orders", new { id = item.Id, username = Session["name"] })" class="btn btn-lg btn-block btn-outline-dark" type="button">Add to cart</a>
                                }
                                else
                                {
                                    <a  href="@Url.Action("Login","Home")" class="btn btn-lg btn-block btn-outline-dark" type="button">Add to cart</a>
                                }
                                </div>
                        </div>
                       
                    }
                @*</div>*@
            </div>
        </div>
    </div>
</section>

        <!-- Footer -->

        <footer class="white-section" id="footer">
            <div class="container-fluid">
                <i class="social-icon fab fa-facebook-f"></i>
                <i class="social-icon fab fa-twitter"></i>
                <i class="social-icon fab fa-instagram"></i>
                <i class="social-icon fas fa-envelope"></i>
                <p>© BREAK</p>
            </div>
        </footer>

        @*@RenderBody()*@
</body>

</html>
